<div class="row" data-ng-controller="AdminFinalesCtrl">

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
    <h3>Nouveaux matchs</h3>
            <div class="alert alert-success" ng-show="registeredMatch">
                <span>Match enregistr&eacute : {{registeredMatch.date|date:'dd/MM/yyyy HH:mm'}} {{registeredMatch.team1.displayName}}/{{registeredMatch.team2.displayName}}</span>
            </div>
            <form name="matchForm" style="display: inline" role="form">
                <div class="form-group">
                    <select class="form-control select-group" required ng-model="match.event" ng-options="event.name for event in events">
                        <option value="" disabled selected>event</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="dueDate">Début du match</label>
                    <input name="dueDate" date-valid ng-model="match.date" type="text" id="dueDate" name="dueDate"
                           class="form-control input-due-date" datepicker-popup="dd/MM/yyyy" datepicker-append-to-body="true"
                           is-open="data.isOpen" ng-click="data.isOpen = true" min-date="match.event.start" max-date="match.event.end" placeholder="début du match">
                    <timepicker style="display: inline-block" id="timepicker" ng-model="match.date" hour-step="1" minute-step="15" show-meridian="false"></timepicker>
                </div>
                <div class="form-group">
                    <label class=sr-only for="team1">Equipe 1</label>
                    <input id="team1" type="text" ng-model="match.team1" autocomplete="off"
                           typeahead="country as country.displayName for country in countries | filter:$viewValue | limitTo:8"
                           class="form-control" placeholder="équipe 1" required>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="team2">Equipe 2</label>
                    <input id="team2" type="text" ng-model="match.team2" autocomplete="off"
                           typeahead="country as country.displayName for country in countries | filter:$viewValue | limitTo:8"
                           class="form-control" placeholder="équipe 2" required>
                </div>
                <div class="form-group">
                    <!--<label>Groupe : </label>-->
                    <select class="form-control select-group" required ng-model="match.groupe" ng-options="group for group in groups">
                        <option value="" disabled selected>groupe</option>
                    </select>
                </div>

                <div class="text-center">
                    <button data-ng-disabled="matchForm.$invalid||matchForm.dueDate.$error.dateChk" type="submit" class="btn btn-danger" ng-click="register(match)">valider</button>
                </div>
            </form>




       <!-- <div class="row" data-ng-repeat="match in matches">
            <div class="col-xs-2 aligned-picker">
                <input ng-model="match.date" type="text" id="dueDate" name="dueDate"
                       class="form-control" datepicker-popup="dd/MM/yyyy" datepicker-append-to-body="true"
                       is-open="data.isOpen" ng-click="data.isOpen = true">
            </div>
            <div class="col-xs-1">
                <timepicker id="timepicker" ng-model="match.date" hour-step="1" minute-step="15"
                            show-meridian="false"></timepicker>
            </div>
            <div class="col-xs-2 aligned-picker">
                <input type="text" ng-model="team1"
                       typeahead="country for country in countries | filter:$viewValue | limitTo:8"
                       class="form-control">
            </div>
            <div class="col-xs-2 aligned-picker">
                <input type="text" ng-model="team2"
                       typeahead="country for country in countries | filter:$viewValue | limitTo:8"
                       class="form-control">
            </div>
        </div>-->

    </div>
</div>