

        <div class="container" data-ng-controller="AdminCtrl" >

            <div class="jumbotron">

                <p class="text-center">Remplissez les scores des matchs passés, puis cliquez sur le bouton "poster"
                    correspondant</p>

            </div>

            <div class="page-header" >
                <h1>Liste des matchs</h1>
            </div>

            <div data-ng-init="afficher=false" style="padding-bottom: 20px">
                <form name="displayForm">afficher les matchs déjà édités
                    <input type="checkbox" data-ng-model="afficher">
                </form>
            </div>


            <form name="scoreform" novalidate="true">


                <div data-ng-repeat="match in matches=(matchs|passedMatchFilter|updatedMatchFilter:!afficher|orderBy:'date')"
                     name="formgp">

                    <div name="row" class="row score-input">
                        <div class="col-sm-2">
                            {{match.date|date:'dd/MM/yyyy à HH:mm'}}
                        </div>
                        <div class="col-sm-2 text-right" data-ng-class="{'zen-bold':isWinner(match,'score1','score2')}">
                            {{match.team1}}
                        </div>
                        <ng-form name="ngscoreForm">
                            <div class="col-sm-1"
                                 ng-class="{'has-error':ngscoreForm.score1input.$error.pattern||ngscoreForm.score1input.$invalid}">
                                <input name="score1input" class="form-control input-sm text-center"
                                       data-ng-model="match.score1" ng-pattern=scoreRegexp
                                       ng-required="partiallyFilled(match)">
                                <span class="label label-danger" data-ng-show="ngscoreForm.score1input.$error.pattern">score : entre 0 et 99</span>
                            </div>
                            <div class="col-sm-1 text-center">
                                :
                            </div>
                            <div class="col-sm-1"
                                 ng-class="{'has-error':ngscoreForm.score2input.$error.pattern||ngscoreForm.score2input.$invalid}">
                                <input name="score2input" class="form-control input-sm text-center"
                                       data-ng-model="match.score2" ng-pattern=scoreRegexp
                                       ng-required="partiallyFilled(match)">
                                <span class="label label-danger" data-ng-show="ngscoreForm.score2input.$error.pattern">score : entre 0 et 99</span>
                            </div>
                        </ng-form>
                        <div class="col-sm-2 text-left" data-ng-class="{'zen-bold':isWinner(match,'score2','score1')}">
                            {{match.team2}}
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-danger"
                                    data-ng-disabled="ngscoreForm.$invalid||cannotPost(match)"
                                    data-ng-click="poster(match)">
                                Valider
                            </button>
                        </div>
                        <div class="col-sm-1" ng-show="match.registered">
                            <span class="label label-success">enregistré !</span>
                        </div>
                        <div class="col-sm-1" ng-show="match.error">
                            <span class="label label-danger">erreur !</span>
                        </div>


                    </div>


                    </br>

                </div>

                <div data-ng-show="matches.length<1">Pas de match à éditer</div>


                <!--
                        <div class="row" data-ng-hide="modified">
                            <div class="col-sm-1 col-lg-offset-8">
                                <button type="button" class="btn btn-danger" data-ng-disabled="scoreform.$invalid"
                                        data-ng-click="postez()">Poster
                                </button>
                            </div>
                        </div>
                -->

            </form>

        </div>


