<div class="row" data-ng-controller="AdminEventsCtrl">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="jumbotron smaller-jumbotron">
            <h3 class="text-center">Archivage de l'événement</h3>
            <h4 class="text-center">Pour archiver les résultats, veuillez renseigner un nom à l'événement et cliquer sur
                "Archiver"</h4>
            <div>
                <span class="glyphicon glyphicon-warning-sign"></span>
                &nbsp;Attention ! L'archivage est une action irreversible
                qui historise les résultats des joueurs et efface leurs paris. Il ne sera plus possible de faire de paris sur cette compétition. Cette action est à réaliser une fois la compétition
                terminée.
                &nbsp;
            </div>
        </div>
        <form class="form-horizontal" name="eventNameForm">
            <div class="form-group">
                <div class="col-xs-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-folder-open"></i></span>
                        <input name="eventNameInput" class="form-control input-md" type="text" placeholder="nom de l'événement" ng-model="eventName" required event-name-check>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="submit" class="btn btn-danger" ng-click="archive()" ng-disabled="eventNameForm.$invalid || eventNameForm.eventNameInput.eventNameCheck">Archiver</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-6">
                    <div class="alert alert-success alert-md" ng-show="archivedSuccess">L'archivage a correctement été effectué.</div>
                    <div class="alert alert-danger alert-md" ng-show="archivedFail">L'archivage a échoué.</div>
                    <div class="alert alert-danger" ng-show="invalidEventName()">Un événement possède déjà ce nom</div>
                </div>
            </div>
        </form>
        <div>
            <h4>&Eacute;v&eacute;nements enregistr&eacute;s pr&eacute;c&eacute;demment</h4>
            <ul>
                <li ng-repeat="event in registeredEvents">
                    {{event.name}}
                </li>
            </ul>
        </div>
    </div>
</div>