<div data-ng-controller="PersoRankingCtrl">

    <div class="row">

        <div class="col-xs-12">
            <div class="match-title">
                <h2> Paris de {{otherGambler.prenom}} {{otherGambler.nom}} &nbsp; </h2>
            </div>

            <div data-ng-show="showMatch(match)" data-ng-repeat="match in matches | orderBy:'date'">
                <div class="row match-line">
                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4 classt-date">
                        {{match.date | date:'dd/MM/yyyy à HH:mm'}} - groupe {{match.groupe}}
                    </div>
                    <!--That's the column containing informations on inputs, without the date-->
                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10  col-sm-4">
                            <div class="classt-match-left">
                                <div class="text-left">
                                    <span>
                                        {{getTeamDisplayName(match.team1)}}
                                    </span>

                                </div>
                            </div>
                            <div class="classt-flag-left">
                                    <span class="country-flag" ng-class="match.team1"></span>
                            </div>
                            <div class="classt-flag-right">
                                    <span class="country-flag" ng-class="match.team2"></span>

                            </div>
                            <div class="classt-match-right">
                                <div class="text-right">
                                    <span>
                                        {{getTeamDisplayName(match.team2)}}
                                    </span>
                                </div>
                            </div>
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
                        <div>
                            <span>{{match.score1}} - {{match.score2}}</span> |
                            <span data-ng-init="points=points(match,match.betOther)"
                                  ng-class="{'classt-other-win':(points==1),'classt-other-half':(points==0),'classt-other-lose':(points==-1)}">
                                {{match.betOther.score1}} - {{match.betOther.score2}}
                            </span>
                            <span ng-show="hasBet(match.bet)" class="classt-gambet"> ({{match.bet.score1}} - {{match.bet.score2}})</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>