<div data-ng-controller="ClassementCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron classement-jumbo">
                <p>
                    Vous êtes
                    <strong><span>{{findClassement(gambler)}}</span><sup ng-pluralize count="findClassement(gambler)" when="{'1':'er','other':'ème'}"></sup></strong>
                    ,
                    </p>
                <p>
                    avec
                    <strong><span>{{gambler.points}}</span></strong>
                    point<span ng-pluralize count="gambler.points" when="{'0':'','1':'','other':'s'}"></span>
                </p>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input class="form-control" placeholder="Trouver un parieur" data-ng-model="search">
                            </div>
                        </div>
                    </form>
                    <ul>
                        <li data-ng-repeat="gambler in gamblersFound=(classement|classementFilter:search:0.5|unique:'classement')">
                            <a href="" data-ng-click="changePage(gambler)">
                                {{gambler.prenom}} {{gambler.nom}}
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-primary" data-ng-click="changePage(findGambler())">Me trouver</button>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>

</div>
