<div data-ng-controller="ClassementCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div class="classement-jumbo">
                <paper-shadow z="1"></paper-shadow>
                <p>
                    Vous êtes
                    <strong><span>{{personnalRanking.classement}}</span><sup ng-pluralize count="personnalRanking.classement" when="{'1':'er','other':'ème'}"></sup>{{personnalRanking.equality?'(ex aequo)':''}}</strong>
                    </p>&nbsp;
                <p>
                    avec
                    <strong><span>{{personnalRanking.points}}</span></strong>
                    point<span ng-pluralize count="personnalRanking.points" when="{'0':'','1':'','other':'s'}"></span>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div>
                <paper-shadow z="1"></paper-shadow>
                <div class="classt-search-box">
                    <!--   <form>
                        <div class="form-group">
                            <select select-team class="form-control" ng-model="selectedTeam" ng-options="team.name for team in teams">
                                <option value="">Filtrer par ligue</option>
                            </select>
                        </div>
                    </form>-->
                    <form>
                        <core-field>
                            <core-icon icon="search"></core-icon>
                            <input ng-model="search" placeholder="Trouver un joueur">
                        </core-field>
                    </form>
                    <ul>
                        <li data-ng-repeat="gambler in gamblersFound=(classement|classementFilter:search:0.5|unique:'classement')">
                            <a href="" data-ng-click="changeToGambler(gambler)">
                                {{gambler.prenom}} {{gambler.nom}}
                            </a>
                        </li>
                    </ul>
                    <paper-button raisedButton class="blue-button colored"
                                  label="Me trouver" ng-click="changePage(personnalRanking)"></paper-button>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="gridStyle" ng-grid="gridOptions"><paper-shadow z="1"></paper-shadow></div>
        </div>
    </div>

</div>
