<div data-ng-controller="ClassementCtrl">

    <div class="row">
        <div class="col-lg-12">
            <div ng-show="mode=='gambler'" class="jumbotron classement-jumbo ng-hide">
                <p>
                    Vous êtes
                    <strong><span>{{personnalRanking.classement}}</span><sup ng-pluralize count="personnalRanking.classement" when="{'1':'er','other':'ème'}"></sup>{{personnalRanking.equality?'(ex aequo)':''}}</strong>
                    </p>&nbsp;
                <p>
                    avec
                    <strong><span>{{personnalRanking.points}}</span></strong>
                    point<span ng-pluralize count="personnalRanking.points" when="{'0':'','1':'','other':'s'}"></span>
                </p>
            </div>
            <div ng-show="mode=='ligue'" class="jumbotron classement-jumbo ng-hide">
                <p>
                    Classement des organisations
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form data-ng-if="gamblerMode()">
                        <div class="form-group">
                            <select class="form-control" ng-model="selectedLigue.id">
                                <option value="all">Toutes ligues</option>
                                <option ng-repeat="ligue in ligues" value="{{ligue.id}}">{{ligue.name}}</option>
                            </select>
                        </div>
                    </form>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input class="form-control" placeholder="Trouver un joueur" data-ng-model="search">
                            </div>
                        </div>
                    </form>
                    <ul>
                        <li data-ng-repeat="gambler in gamblersFound=(classement|classementFilter:search:0.5|unique:'classement')">
                            <a href="" data-ng-click="changeToGambler(gambler)">
                                {{gambler.firstName}} {{gambler.lastName}}
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-primary" ng-class="{'me-trouver':ligueMode()}"  data-ng-click="changePage(personnalRanking)">Me trouver</button>
                </div>
            </div>
            <div>
                <a ng-click="switchMode()">Classement par {{switchModeDisplay()}}</a>
            </div>
            <div>
                <h4>Mode de calcul des points</h4>
                <p ng-show="gamblerMode()">Vous gagnez 3 points si vous avez le score exact, 1 point si vous avez le bon résultat, 0 sinon.</p>
                <p ng-show="ligueMode()">Le score d'une ligue correspond à la somme des scores de ses 5 meilleurs parieurs.</p>
            </div>
        </div>

        <div class="col-lg-9">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>

</div>
