<!-- Static navbar -->



<index-template query="min-width: 640px">
    <core-item ng-show="!isAdmin()" class="ng-hide" name="prono" label="Pronostics"
               ui-sref="index.betsState"></core-item>
    <core-item ng-show="!isAdmin()" class="ng-hide" name="classement" label="Classement"
               ui-sref="index.classState"></core-item>
    <core-item ng-show="isAdmin()" class="ng-hide" name="results" label="Résultats"
               ui-sref="index.adminState"></core-item>
    <core-item ng-show="isAdmin()" class="ng-hide" name="newmatchs" label="Nouveaux matchs"
               ui-sref="index.adminFinales"></core-item>
    <core-item ng-show="user.connected" class="ng-hide visible-mobile" name="logout"
               label="Deconnexion" ng-click="logout()" ng-controller="LoginCtrl"></core-item>

    <paper-icon-button id="navicon" icon="menu" ng-click="togglePanel()"></paper-icon-button>
    <span id="logo"><a ui-sref="index.betsState"><img class="zen-logo" src="img/logo.png"></a></span>
    <span class="ng-hide clicable" data-ng-show="!isAdmin()" ui-sref="index.betsState">Pronostics</span>
    <span class="ng-hide clicable" data-ng-show="!isAdmin()" ui-sref="index.classState">Classement</span>
    <span flex></span>
    <span id="userName" class="clicable toolbar-icon text-right2" ui-sref="index.profileState">{{user.prenom}}</span>
    <span class="hide-mobile clicable" ng-controller="LoginCtrl" ng-click="logout()">Déconnexion</span>

    <div id="view">
        <div class="container page">
            <div ui-view></div>
        </div>
    </div>

</index-template>



