<div class="container theme-showcase" role="main" data-ng-controller="MatchCtrl">

    <div class="jumbotron">

        <p class="text-center">Pour parier sur un match, rentrez un score et cliquez sur "parier !"</p>

    </div>

    <div class="page-header">
        <h1>Liste des matchs</h1>
    </div>


    <div data-ng-repeat="groupe in groupes">
        <h3>Groupe {{groupe}}</h3>


        <div data-ng-repeat="match in groupeA=(matchs|groupeFilter:groupe|orderBy:'date')">

            <div class="row">
                <div class="col-sm-2">
                    {{match.date|date:'dd/MM/yyyy à HH:mm'}}
                </div>
                <div class="col-sm-2 text-right">
                    {{match.participant1.pays}}
                </div>
                <div class="col-sm-1">
                    <input type="number" class="form-control input-sm" placeholder="score">
                </div>
                <div class="col-sm-1 text-center">
                    :
                </div>
                <div class="col-sm-1">
                    <input type="number" class="form-control input-sm" placeholder="score">
                </div>
                <div class="col-sm-2 text-left">
                    {{match.participant2.pays}}
                </div>
            </div>
            </br>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-1 col-lg-offset-8">
            <button type="button" class="btn btn-danger">Pariez !</button>
        </div>
    </div>

</div>





