<div class="container theme-showcase" role="main" data-ng-controller="MatchCtrl">

    <div class="jumbotron">

        <p>Pour parier sur un match, rentrez un score et cliquez sur "parier !"</p>

    </div>

    <div class="page-header">
      <h1>Liste des matchs</h1>
    </div>

    <!-- Solution de base-->
    <!--
    <form class="form-inline" role="form" data-ng-repeat="match in matchs">
        <div class="form-group">
            <label for="inputPart1">{{match.participant1.pays}}</label>
            <input type="number" class="form-control" id="inputPart1" placeholder="score">

        </div>
        <div class="form-group">
            <input type="number" class="form-control" id="inputPart2" placeholder="score">
            <label for="inputPart2">{{match.participant2.pays}}</label>
        </div>

    </form>
    -->

    <div class="row" data-ng-repeat="match in matchs">
        <div class="col-sm-2">
            {{match.date|date:'dd/MM/yyyy à hh:mm'}}
        </div>
        <div class="col-sm-2">
            {{match.participant1.pays}}
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="score">
        </div>
        <div class="col-sm-1">
            <input type="text" class="form-control" placeholder="score">
        </div>
        <div class="col-sm-2 col-sm-offset-2">
            {{match.participant2.pays}}
        </div>

    </div>

    <div class="pull-right">
        <button type="button" class="btn btn-primary">Pariez !</button>

    </div>

</div>


