<div class="container theme-showcase" role="main" data-ng-controller="MatchCtrl" xmlns="http://www.w3.org/1999/html">

    <div class="jumbotron">

        <p class="text-center">Pour parier sur un match, rentrez un score et cliquez sur "parier !"</p>

    </div>

    <div class="page-header">
        <h1>Liste des matchs</h1>
    </div>


    <form name="scoreform">
        <div data-ng-repeat="groupe in groupes">
            <h3>Groupe {{groupe}}</h3>


            <div data-ng-repeat="match in groupeX=(matchsBets|groupeFilter:groupe|orderBy:'match.date')"
                 name="formgp" class="warning-score">

                <div name="row" class="row" ng-class="{'former-match':isFormer(match.match.date)}">
                    <div class="col-sm-2">
                        {{match.match.date|date:'dd/MM/yyyy à HH:mm'}}
                    </div>
                    <div class="col-sm-2 text-right">
                        {{match.match.participant1.pays}}
                    </div>
                    <div class="col-sm-1">
                        <ng-form name="score1Form">
                            <input name="score1input" class="form-control input-sm text-center" zen-disable
                                   oldmatch="{{isFormer(match.match.date)}}" placeholder="score"
                                   data-ng-init="score1=match.bet.score1"
                                   data-ng-model="score1.score" ng-pattern=scoreRegexp>
                            <span class="label label-danger" ng-hide="score1Form.score1input.$valid">score : entre 0 et 99</span>

                        </ng-form>

                    </div>
                    <div class="col-sm-1 text-center">
                        :
                    </div>
                    <div class="col-sm-1">
                        <ng-form name="score2Form">

                            <input name="score2input" class="form-control input-sm text-center" zen-disable
                                   oldmatch="{{isFormer(match.match.date)}}" placeholder="score"
                                   data-ng-init="score2=match.bet.score2"
                                   data-ng-model="score2.score" ng-pattern=scoreRegexp>
                            <span class="label label-danger" ng-hide="score2Form.score2input.$valid">score : entre 0 et 99</span>
                        </ng-form>
                    </div>
                    <div class="col-sm-2 text-left">
                        {{match.match.participant2.pays}}
                    </div>
                    <div class="col-sm-2" data-ng-show="showWarning(match.bet)"><span class="label label-warning">mis à z&eacute;ro</span>
                    </div>
                </div>


                <div class="row panel panel-default zen-margin" data-ng-show="knownResult(match.match)">
                    <div class="col-sm-2">
                        Resultat :
                    </div>
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-1 text-center">
                        {{match.match.outcome.score1.score}}
                    </div>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-1 text-center">
                        {{match.match.outcome.score2.score}}
                    </div>
                </div>

                </br>

            </div>
        </div>


        <div class="row" data-ng-show="modified">
            <div class="col-sm-8">
                <p class="alert alert-warning">
                    Un match ou plus ne contenait un score que pour un participant.
                    Le score pour le deuxième participant a été mis à 0. Pour accepter
                    ces changements et prendre en compte votre pari, cliquez à nouveau sur "pariez !".
                </p>
            </div>
            <div class="col-sm-2" style="vertical-align: middle">
                <button type="button" class="btn btn-warning" data-ng-disabled="scoreform.$invalid"
                        data-ng-click="postez()">valider
                </button>
            </div>

        </div>


        <div class="row" data-ng-hide="modified">
            <div class="col-sm-1 col-lg-offset-8">
                <button type="button" class="btn btn-danger" data-ng-disabled="scoreform.$invalid"
                        data-ng-click="postez()">Pariez !
                </button>
            </div>
        </div>

    </form>

</div>





