<div class="row" data-ng-controller="LigueDetailCtrl">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 ligue-col">
        <h2 style="text-align: center">
            {{ligue.name}}
        </h2>

        <div class="specific-ligue-owner" ng-show="ligue.isOwner">
            
            <div class="want-join-ligue">
                <h4>Ils veulent vous rejoindre :</h4>

                <div ng-repeat="applicant in ligue.awaits">
                    <div class="ligue-applicant">
                        - {{applicant.firstName}} {{applicant.lastName}}
                    </div>
                    <div class="yesno-applicant">
                        <span class="glyphicon glyphicon-ok" ng-click="acceptInTeam(applicant, $index)"></span>
                        <span class="glyphicon glyphicon-remove" ng-click="refuseInTeam(applicant, $index)"></span>
                    </div>
                </div>
                <div ng-show="size(ligue.awaits)==0">
                    Aucune demande en ce moment.
                </div>
            </div>
        </div>
        <div class="specific-ligue-member">
            <h4>Membres de la ligue :</h4>

            <div ng-repeat="member in ligue.accepted" class="yesno-applicant">
                <div style="display: inline-block">
                    - {{member.firstName}} {{member.lastName}}
                </div>
                <span class="glyphicon glyphicon-remove"
                      ng-show="ligue.isOwner"
                      ng-click="removeFromTeam(member, $index)"></span>
            </div>
            <div>
                <div style="display: inline-block">
                    - {{ligue.owner.firstName}} {{ligue.owner.lastName}}
                    <span class="label label-info">propriétaire</span>
                </div>
            </div>
        </div>
    </div>
</div>
