
<div class="row">
	<div class="span4">
		<div class="well">
			<h2>Contacts</h2>

			<form class="form-search">
				<div class="input-append">
					<input type="text" class="input-medium search-query"
						ng-model="search">
					<button type="submit" class="btn">
						<i class="icon-search"></i> Search
					</button>
				</div>
				<br> <br>
				<div>
					Search for : <span data-ng-bind="search"></span>
				</div>
				<div ng-show="search.length>0">
					<ng-pluralize count="filteredContact.length"
						when="{
									0:'aucun contact',
									1:'un contact',
									'other':'{} contacts'
									}">
					</ng-pluralize>
				</div>
			</form>

			<ul class="unstyled">
				<!--  -->
				<li
					ng-repeat="contact in filteredContact=(contacts | fuzzyFilter:search | orderBy:'lastName' | unique:'[id]')"><a
					href="#/edit/{{contact.id}}">{{contact.firstName}}
						{{contact.lastName}}</a></li>
			</ul>
		</div>
	</div>

	<div class="span8">
		<div class="row">
			<div class="contact-card span4"
				ng-repeat="contact in contacts | fuzzyFilter:search:0.5 | orderBy:'lastName' | unique:'[id]'">
				<div class="contact-card-inner">
					<h4>{{contact.firstName | uppercase}} {{contact.lastName}}</h4>

					<div class="contact-address">{{contact.address}}</div>
					<div class="contact-phone">{{contact.phone}}</div></br>
				</div>
			</div>
		</div>
	</div>
</div>