<div class="container col-md-2 col-md-offset-5">


    <div data-ng-controller="LoginCtrl">


            <form action="" method="post" class="form-horizontal" name="loginForm" role="form">
                <h2>Login</h2>
                <div class="form-group {{!loginForm.user.$error.required || 'error'}}">
                    <label for="user" class="sr-only">Email</label>

                    <input type="email" name="user" id="user" class="input-xlarge" data-ng-model="login.email"
                           required="" placeholder="email"/><br/>

                    <p class="help-block"
                       data-ng-show="loginForm.user.$error.required">L'email est requis</p>
                    <span class="error" ng-show="loginForm.user.$error.email&&!loginForm.user.$error.required">
   Email non valide</span>
                </div>
                <div class="form-group {{!loginForm.pass.$error.required || 'error'}}">
                    <label for="pass" class="sr-only">Password</label>

                    <div class="controls">
                        <input type="password" name="pass" id="pass" class="input-xlarge"
                               data-ng-model="login.password" required="" placeholder="mot de passe"/><br/>

                        <p class="help-block" data-ng-show="loginForm.pass.$error.required">Le mot de passe est
                            requis</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="controls">
                        <input type="submit" value="Authenticate" class="btn btn-primary" data-ng-click="submit()"
                               data-ng-disabled="loginForm.$invalid"/>
                    </div>
                </div>
            </form>
    </div>
</div>

