<div class="page-header">
    <h1>Profil</h1>

    <p class="lead"></p>
</div>

<h3 class="form-title" style="text-align: left">Modifiez les informations de votre profil</h3>


<div class="row">

    <div class="col-xs-10 col-md-4">
        <form action="" method="post" name="editProfileForm" role="form" autocomplete="off">

            <div class="form-group">
                <label for="prenom" class="sr-only">Prénom</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom" required
                           autofocus/>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="sr-only">Nom</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nom" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="controls text-center">
                    <button type="submit" class="btn btn-primary" data-ng-click="">Modifier</button>
                </div>
            </div>

        </form>
    </div>

</div>

