<div class="row" data-ng-controller="ResetPWDCtrl">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
        <h4>Réinitialisez votre mot de passe :</h4>
        <form ng-hide="pwdChanged" action="" method="post" name="resetForm" role="form" autocomplete="off">

            <div class="form-group"
                 ng-class="{'has-error': resetForm.password.$invalid && resetForm.password.$dirty}">
                <label for="password" class="sr-only">Mot de passe</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="password" id="password" class="form-control"
                           data-ng-model="password" placeholder="Mot de passe (min. 6 caractères)"
                           data-ng-minlength="6" required/>
                </div>
                <p
                        class="help-block"
                        data-ng-show="resetForm.password.$error.required && resetForm.password.$dirty">
                    Champ obligatoire
                </p>

                <p
                        class="help-block"
                        data-ng-show="resetForm.password.$error.minlength">
                    Le mot de passe doit faire 6 caractères minimum.
                </p>

            </div>

            <div class="form-group"
                 ng-class="{'has-error': resetForm.confirmPassword.$invalid && resetForm.confirmPassword.$dirty}">
                <label for="confirmPassword" class="sr-only">Confirmation du mot de passe</label>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"
                           data-ng-model="confirmPasswordHash"
                           placeholder="Entrez à nouveau le mot de passe" data-match="password"
                           pwd-check="password"
                           required="required"/> <br/>
                </div>
                <p
                        class="help-block"
                        data-ng-show="resetForm.confirmPassword.$error.pwdmatch && resetForm.confirmPassword.$dirty">
                    Les mots de passe ne sont pas identiques !
                </p>
            </div>

            <div class="form-group">
                <div class="controls text-center">
                    <button type="submit" class="btn btn-primary" data-ng-click="resetPWD()" data-ng-disabled="resetForm.$invalid">Réinitialiser</button>
                </div>
            </div>

        </form>
        <div class="alert alert-success text-center" ng-show="pwdChanged">Le mot de passe a été réinitialisé</div>
        <div class="alert alert-danger text-center" ng-show="pwdNotChanged">Une erreur est survenue</div>
    </div>
</div>
