<div class="row" data-ng-controller="subscribeCtrl">
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">

        <core-tooltip class="fancy" label="page de login" position="left">
            <core-icon ui-sref="unconnected.login" icon="arrow-back"></core-icon>
        </core-tooltip>

        <my-alert data-ng-show="subscriber.subscriptionError" class="text-center2" text="Une erreur est survenue lors de la souscription à votre compte." z="1" alertType="danger">
        </my-alert>

        <form action="" method="post" name="subscriptionForm" role="form" autocomplete="off">
            <h2 class="form-title">S'inscrire</h2>

            <my-form-group ng-class="{'has-error2': subscriptionForm.prenom2.$invalid && subscriptionForm.prenom2.$dirty}">

                <core-field>
                    <core-icon icon="account-box"></core-icon>
                    <input ng-model="subscriber.prenom" placeholder="Prénom" type="text"
                           id="prenom2"
                           name="prenom2"
                           autofocus
                           autofill
                           required
                           flex>
                </core-field>

                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.prenom2.$error.required && subscriptionForm.prenom2.$dirty">
                    Champ obligatoire
                </p>
            </my-form-group>

            <my-form-group
                 ng-class="{'has-error2': subscriptionForm.nom.$invalid && subscriptionForm.nom.$dirty}">
                <core-field>
                    <core-icon icon="account-box"></core-icon>
                    <input ng-model="subscriber.name" placeholder="Nom" type="text"
                           id="nom"
                           name="nom"
                           autofill
                           required
                           flex>
                </core-field>
                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.nom.$error.required && subscriptionForm.nom.$dirty">
                    Champ obligatoire
                </p>
            </my-form-group>

            <my-form-group ng-class="{'has-error2': (subscriptionForm.email2.$invalid && subscriptionForm.email2.$dirty) ||
            	(subscriber.subscriptionErrorAlreadyUsedEmail && !subscriptionForm.email2.$dirty)}">

                <core-field>
                    <core-icon icon="mail"></core-icon>
                    <input ng-model="subscriber.email" placeholder="prenom.nom@zenika.com" type="email"
                           id="email2"
                           name="email2"
                           autofill
                           required
                           zen-mail
                           flex>
                </core-field>
                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.email2.$error.required && subscriptionForm.email2.$dirty">
                    Champ obligatoire
                </p>

                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.email2.$error.email && !subscriptionForm.email2.$error.required">
                    Format non valide
                </p>

                <p
                        class="help-block"
                        data-ng-show="!subscriptionForm.email2.$error.required && subscriptionForm.email2.$error.zenikaEmail && !subscriptionForm.email2.$error.email">
                    Doit être une adresse @zenika.com
                </p>
                <p
                    class="help-block"
                    data-ng-show="subscriber.subscriptionErrorAlreadyUsedEmail && !subscriptionForm.email.$dirty">
                    Cette adresse email est déjà utilisée.
                </p>
            </my-form-group>


            <my-form-group
                 ng-class="{'has-error2': subscriptionForm.password2.$invalid && subscriptionForm.password2.$dirty}">
                <core-field>
                    <core-icon icon="lock"></core-icon>
                    <input ng-model="subscriber.passwordHash" placeholder="Mot de passe (min. 6 caractères)" type="password"
                           id="password2"
                           name="password2"
                           data-ng-minlength="6"
                           required
                           flex>
                </core-field>
                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.password2.$error.required && subscriptionForm.password2.$dirty">
                    Champ obligatoire
                </p>

                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.password2.$error.minlength">
                    Le mot de passe doit faire 6 caractères minimum.
                </p>

            </my-form-group>

            <my-form-group
                 ng-class="{'has-error2': subscriptionForm.confirmPassword2.$invalid && subscriptionForm.confirmPassword2.$dirty}">
                <core-field>
                    <core-icon icon="lock"></core-icon>
                    <input placeholder="Mot de passe (min. 6 caractères)" type="password"
                           name="confirmPassword2"
                           id="confirmPassword2"
                           data-ng-model="subscriber.confirmPasswordHash"
                           placeholder="Entrez à nouveau le mot de passe"
                           data-match="password2"
                           pwd-check="password2"
                           required="required"
                           flex>
                </core-field>
                <p
                        class="help-block"
                        data-ng-show="subscriptionForm.confirmPassword2.$error.pwdmatch && subscriptionForm.confirmPassword2.$dirty">
                    Les mots de passe ne sont pas identiques !
                </p>
            </my-form-group>

           <!-- <p>Rejoindre une ligue ?</p>

            <ng-form new-team name="teamForm" generate-input data-ng-repeat="team in subscriber.teams">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <input type="text" class="form-control" data-ng-model="team.name"
                                   placeholder="Ligue"
                                   typeahead-loading="loadingTeams"
                                   typeahead="existingTeam.name as existingTeam.name for existingTeam in existingTeams | filter:{name:$viewValue}"
                                   tooltip="Une ligue est un groupe de parieurs, vous pouvez ensuite comparer vos résultats aux autres parieurs de votre ligue"
                                   tooltip-trigger="focus"
                                   tooltip-placement="top"/>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <p class="form-control-static">
                            <span class="label label-warning" data-ng-show="team.isNew">nouveau</span>
                            <span class="label label-info" data-ng-show="team.name && !team.isNew">rejoindre</span></p>
                    </div>
                </div>

            </ng-form>-->
            <my-form-group>
                <paper-button raisedButton class=" blue-button colored" data-ng-click="valider()" data-ng-disabled="subscriptionForm.$invalid" label="Créer mon compte"></paper-button>
            </my-form-group>

        </form>

    </div>
</div>
