.aligned-picker{
    padding-top: 32px;
}

.admin-time-picker{
    text-align: center;
}

.admin-time-picker > table{
    display: inline-block
}

.input-due-date{
    width: 108px;
    display: inline-block;
    position: relative;
    top: -45px;
}

.jumbotron {
    height: 50%;
}