.ngHeaderContainer {
  font-weight: normal;
  text-transform: uppercase;
  background: white;
}

.ngRow.even, .ngRow.odd {
  background: white;
}

.rankingHeader, .rankingCell {
  text-align: center;
}

.gridStyle {
  border-radius: 4px;
}

.ngTopPanel, .ngHeaderContainer {
  background: transparent;
}

.ngFooterPanel {
  background: white;
}
