.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    width: auto;
    height: 389px;
}

.ngGrid {
    background: white;
}

.ngHeaderContainer {
    font-weight: normal;
    text-transform: uppercase;
    background: transparent;
}

.ngRow.even, .ngRow.odd {
    background: transparent;
}

.rankingHeader, .rankingCell {
    text-align: center;
}

.ngTopPanel, .ngHeaderContainer {
    background: transparent;
}

.ngFooterPanel {
    background: transparent;
    border: none;
}

.ngTotalSelectContainer {
    display: none;
}

.ngRowCountPicker {
    display: none;
}

.ngPagerCurrent {
    display: inline;
}

.classt-gambet {
    color: rgb(163, 163, 163);
    font-style: italic;
}

.classt-match-left {
    display: inline-block;
    margin-right: 10px;
}

.classt-match-right {
    display: inline-block;
    margin-left: 10px;
}

.classt-flag-left {
    display: inline-block;
    margin-right: 5px;
}

.classt-flag-right {
    display: inline-block;
    margin-left: 5px;
}

.classt-other-win {
    color: #66CC00 !important;
}

.classt-other-half {
    color: #FCDC12 !important;
}

.classt-other-lose {
    color: red !important;
}

.classement-jumbo {
    text-align: center;
    padding: 15px;
}

.classement-jumbo > p {
    display: inline-block;
    margin: auto;
}

/*For containers used for search*/
.zen-search > div, .zen-search > input, .zen-search > button {
    margin-top: 10px;
}

.zen-search #metrouver {
    text-align: center;
    padding-bottom: 15px;
}

.zen-tab-classt {
    padding-left: 15px;
    padding-right: 15px;
}