.country-flag {
    display: inline-block;
    background: url('../img/flags.png') no-repeat;
    width: 24px;
    height: 14px;
    vertical-align: middle;
    background-size: 392px 240px;
}

.algerie {
    background-position: -132px -0px;
}

.allemagne {
    background-position: -158px -0px;
}

.angleterre {
    background-position: -210px -0px;
}

.argentine {
    background-position: -262px -0px;
}

.australie {
    background-position: -340px -0px;
}

.belgique {
    background-position: -132px -16px;
}

.bosnie {
    background-position: -262px -16px;
}

.bresil {
    background-position: -314px -16px;
}

.cameroun {
    background-position: -132px -32px;
}

.coree {
    background-position: -210px -32px;
}

.chili {
    background-position: -262px -32px;
}

.coteIvoir {
    background-position: -340px -32px;
}

.colombie {
    background-position: -2px -48px;
}

.costaRica {
    background-position: -80px -48px;
}

.croatie {
    background-position: -106px -48px;
}

.equateur {
    background-position: -314px -48px;
}

.espagne {
    background-position: -2px -64px;
}

.france {
    background-position: -132px -64px;
}

.ghana {
    background-position: -314px -64px;
}

.grece {
    background-position: -2px -80px;
}

.honduras {
    background-position: -158px -80px;
}

.iran {
    background-position: -340px -80px;
}

.italie {
    background-position: -80px -96px;
}

.japon {
    background-position: -132px -96px;
}

.mexique {
    background-position: -28px -128px;
}

.nigeria {
    background-position: -54px -144px;
}

.paysBas {
    background-position: -184px -80px;
}

.portugal {
    background-position: -106px -160px;
}

.russie {
    background-position: -288px -160px;
}

.suisse {
    background-position: -106px -192px;
}

.uruguay {
    background-position: -262px -208px;
}

.usa {
    background-position: -288px -208px
}