.login-message {
    margin-bottom: 20px;
}

.zen-logo {
    max-width: 100px;
    margin-top: -7px;
    width: 60%;
}

.zen-logo-color {
    display: block;
    width: 80%;
    max-width: 290px;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}