body {
    padding-top: 50px;
}

.page {
    padding-top: 10px;
}





/* A REVOIR */
.form-title {
    text-align: center;
    margin-bottom: 10px;
}

div {
    color: #4c4c4c;
}

h1 {
    color: #4c4c4c;
}

h2 {
    color: #4c4c4c;

}

@media only screen and (max-width: 480px) {
    .zen-points {
        font-size: 20px;
        font-style: italic;
        font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    }
}

@media only screen and (max-width: 768px) {
    .classt-date {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 991px) {
    
    .finales-blocks {
        margin-top: 5px;
    }

    .affichage-button {
        margin-bottom: 5px;
    }

    .today-button {
        margin-top: 5px;
    }
}


/*Check if this is used*/
.error {
    color: red;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.zen-points {
    font-size: 30px;
    font-style: italic;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

.zen-message > p {

    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-style: italic;
}

.glyphicon-empty {
    width: 14px;
}




