body {
    padding-top: 50px;
}

.page {
    padding-top: 10px;
}





/* A REVOIR */
.form-title {
    text-align: center;
    margin-bottom: 10px;
}

div {
    color: #4c4c4c;
}

h1 {
    color: #4c4c4c;
}

h2 {
    color: #4c4c4c;

}

.zen-red {
    color: #942723;
}

.zen-login {
    padding-left: 10px;
    padding-right: 10px;
}

.wrong-login .ng-hide-remove {
    transition: 0s linear all;
}

.login-message {
    margin-bottom: 20px;
}

.former-match div, .former-match, .former-match input {
    color: rgb(163, 163, 163);
}

.zen-bold {
    font-weight: bold;
}

/*
navbar css with zenika colors
*/

/*
css for side bar
*/

#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    padding-left: 30px;
    padding-top: 30px;
    left: 250px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }

}

/*
Some CSS properties on the size of inputs
*/

.jumbotron {
    height: 50%;
}

#score-input-1 {
    width: 50px;
}

#score1input {
    width: 50px;
}

.zen-points {
    font-size: 30px;
    font-style: italic;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

.zen-message > p {

    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-style: italic;
}

.zen-search {
    overflow: auto;
}

/*For containers used for search*/
.zen-search > div, .zen-search > input, .zen-search > button {
    margin-top: 10px;
}

.zen-search #metrouver {
    text-align: center;
    padding-bottom: 15px;
}

.zen-tab-classt {
    padding-left: 15px;
    padding-right: 15px;
}

.classt-gambet {
    color: rgb(163, 163, 163);
    font-style: italic;
}

.classt-match-left {
    display: inline-block;
    margin-right: 10px;
}

.classt-match-right {
    display: inline-block;
    margin-left: 10px;
}

.classt-flag-left {
    display: inline-block;
    margin-right: 5px;
}

.classt-flag-right {
    display: inline-block;
    margin-left: 5px;
}

.classt-other-win {
    color: #66CC00 !important;
}

.classt-other-half {
    color: #FCDC12 !important;
}

.classt-other-lose {
    color: red !important;
}

.classement-jumbo {
    text-align: center;
    padding: 15px;
}

.classement-jumbo > p {
    display: inline-block;
    margin: auto;
}

.me-trouver{
    visibility: hidden;
}

.match-title > h2 {
    display: inline;

}

.match-title > span {
    display: inline;
}

.match-title {
    margin-bottom: 20px;
}

.display-link {
    display: block;
    cursor: pointer;
    margin-top: 10px;
}

.today-button {
    margin-top: 10px;
    cursor: pointer;
}

.match-line {
    margin-bottom: 20px;
}

.match-line .match-score {
    display: none;
}

.match-line.match-ended {
    margin-bottom: 5px;
}

.match-line.match-ended .match-score {
    display: block;
}

.match-date {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
}

.match-winner {
    text-decoration: underline;
}

.groupes-blocks label {
    width: 35px;
}

.finales-blocks {
    display: inline-block;
}

.finales-blocks label {
    width: 55px;
}

.pariez-button {
    position: fixed;
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    left: 0;
    right: 0;
    bottom: 0;
}

.pariez-button span {
    line-height: 54px;
    font-weight: bold;
}

.pariez-button span.saved-sucess {
    color: #3c763d;
}

.pariez-button span.saved-error {
    color: #a94442;
}

.pariez-button button {
    margin: 10px;
}

.match-info {
    padding-right: 5px;
    padding-left: 5px;
}

.match-form {
    margin-top: 25px;
    margin-bottom: 70px;
}

.team-profil > h4 {
    margin-top: 15px;
}

.ligue-col > h3 {
    text-align: center;
}

.mes-ligues{
    margin-bottom: 20px;
}

.mes-ligues > h4{
    margin-bottom: 20px;
}

.rejoindre-ligue > h4{
    margin-bottom: 20px;
}

/*css for specific ligue page*/

.specific-ligue-member {
    margin-top: 20px;
}

.specific-ligue-owner{
    margin-top: 15px;
}

.want-join-ligue {
    display: inline-block;
}

.invite-ligue{
    padding-left: 15px;
}

.ligue-applicant{
    display: inline-block;
    width: 200px;
}

.yesno-applicant{
    display: inline-block;
}

.yesno-applicant > span{
    padding-left: 10px;
}

.zen-logo {
    max-width: 100px;
    margin-top: -7px;
    width: 60%;
}

.zen-logo-color {
    display: block;
    width: 80%;
    max-width: 290px;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    .zen-points {
        font-size: 20px;
        font-style: italic;
        font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    }
}

@media only screen and (max-width: 768px) {
    .classt-date {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 991px) {

    .finales-blocks {
        margin-top: 5px;
    }

    .affichage-button {
        margin-bottom: 5px;
    }

    .today-button {
        margin-top: 5px;
    }
}


/*Check if this is used*/
.error {
    color: red;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.zen-points {
    font-size: 30px;
    font-style: italic;
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
}

.zen-message > p {

    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    font-style: italic;
}

.glyphicon-empty {
    width: 14px;
}



