<!DOCTYPE html>
<html ng-app="zenFoot.app">
<head>
    <title>zenFoot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="components/bootstrap-3.1.1-dist/css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="components/ng-grid/ng-grid.min.css" media="screen">
    <link rel="stylesheet" href="components/angular/angular-csp.css" media="screen">
    <link rel="stylesheet" href="css/style.css" media="screen">
    <link rel="stylesheet" href="css/classement.css" media="screen">
    <link rel="stylesheet" href="css/polymer-el-css/polymer-el-css.css" media="screen">
    <script src="components/polymer/bower_components/platform/platform.js"></script>
    <link rel="import" href="components/polymer/bower_components/core-toolbar/core-toolbar.html">
    <link rel="import" href="components/polymer/bower_components/core-header-panel/core-header-panel.html">
    <link rel="import" href="components/polymer/bower_components/core-icons/core-icons.html">
    <link rel="import" href="components/polymer/bower_components/paper-icon-button/paper-icon-button.html">
    <link rel="import" href="components/polymer/bower_components/core-scaffold/core-scaffold.html">
    <link rel="import" href="components/polymer/bower_components/core-menu/core-menu.html">
    <link rel="import" href="components/polymer/bower_components/core-item/core-item.html">
    <link rel="import" href="components/polymer/bower_components/core-drawer-panel/core-drawer-panel.html">
    <link rel="import" href="components/polymer/bower_components/polymer/polymer.html">
    <link rel="import" href="components/polymer/bower_components/core-field/core-field.html">
    <link rel="import" href="components/polymer/bower_components/core-input/core-input.html">

</head>


<body unresolved data-ng-controller="IndexCtrl">

<!-- Static navbar -->

<!--<div  class="navbar navbar-inverse navbar-fixed-top ng-hide" data-ng-hide="true||hideNavBar()" role="navigation" ng-cloack>-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed ng-hide" data-toggle="collapse" data-target=".navbar-collapse" data-ng-show="user.connected">-->
                <!--<span class="sr-only">Menu</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" ui-sref="betsState"><img class="zen-logo" src="img/logo.png"></a>-->
            <!--<span class="navbar-text pull-right visible-xs" ng-bind="user.email"></span>-->
        <!--</div>-->
        <!--<div class="navbar-collapse collapse" style="height: 1px;">-->
            <!--<ul class="nav navbar-nav ng-hide" data-ng-show="user.connected">-->
                <!--<li class="ng-hide" ng-class="{'active':isActive('betsState')}" data-ng-show="!isAdmin()"><a ui-sref="betsState">Pronostics</a></li>-->
                <!--<li class="ng-hide" ng-class="{'active':isActive('classState')}" data-ng-show="!isAdmin()"><a ui-sref="classState">Classement</a></li>-->
                <!--<li class="ng-hide" ng-class="{'active':isActive('adminState')}" data-ng-show="isAdmin()"><a ui-sref="adminState">Résultats</a></li>-->
                <!--<li class="ng-hide" ng-class="{'active':isActive('adminFinales')}" data-ng-show="isAdmin()"><a ui-sref="adminFinales">Nouveaux matchs</a></li>-->
            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li data-ng-show="user.connected" class="hidden-xs ng-hide"><span ui-sref="profileState" class="navbar-text" style="cursor: pointer" ng-bind="user.prenom"></span></li>-->
                <!--<li data-ng-show="user.connected" class="ng-hide" data-ng-controller="LoginCtrl">-->
                    <!--<a data-ng-click="logout()" href="">Se déconnecter</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash;/.nav-collapse &ndash;&gt;-->
    <!--</div>-->
<!--</div>-->


<core-drawer-panel ng-hide="hideNavBar()" id="drawerPanel">

    <core-header-panel drawer id="menu-header">
        <core-toolbar id="navheader'">
            <span>Menu</span>
        </core-toolbar>
        <core-menu selected="prono" valueattr="name">
            <core-item ng-show="!isAdmin()" class="ng-hide" name="prono" label="Pronostics" ui-sref="betsState"></core-item>
            <core-item ng-show="!isAdmin()" class="ng-hide" name="classement" label="Classement" ui-sref="classState"></core-item>
            <core-item ng-show="isAdmin()" class="ng-hide" label="Résultats" ui-sref="adminState"></core-item>
            <core-item ng-show="isAdmin()" class="ng-hide" label="Nouveaux matchs" ui-sref="adminFinales"></core-item>
            <core-item ng-show="user.connected" class="ng-hide visible-mobile" name="logout" label="Deconnexion" ng-click="logout()" ng-controller="LoginCtrl"></core-item>
        </core-menu>
    </core-header-panel>

    <core-header-panel main>
        <core-toolbar id="mainheader">
            <paper-icon-button id="navicon" icon="menu" ng-click="togglePanel()"></paper-icon-button>
            <span flex><a><img class="zen-logo" src="img/logo.png"></a></span>
            <span class="hide-mobile clicable" ng-controller="LoginCtrl" ng-click="logout()">Déconnexion</span>
        </core-toolbar>
        <content-main-page>
            <div class="content">
                <div id="view" class="container page">
                    <div ui-view></div>
                </div>
            </div>
        </content-main-page>
    </core-header-panel>

</core-drawer-panel>

<div ng-show="hideNavBar()" class="content">
    <div class="container page">
        <div ui-view></div>
    </div>
</div>






</body>
<script type="text/javascript">
    document.addEventListener('polymer-ready', function() {
        var navicon = document.getElementById('navicon');
        var drawerPanel = document.getElementById('drawerPanel');
        navicon.addEventListener('click', function() {
            drawerPanel.togglePanel();
        });
    });
</script>

<script type="text/javascript" src="js/cookie.js"></script>
<script type="text/javascript" src="components/jquery/jquery.js"></script>
<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular/angular-route.js"></script>
<script type="text/javascript" src="components/angular-ui/angular-ui-router.js"></script>
<script type="text/javascript" src="components/angular/angular-resource.js"></script>
<script type="text/javascript" src="components/angular/angular-cookies.js"></script>
<script type="text/javascript" src="components/angular/angular-md5.js"></script>
<script type="text/javascript" src="components/angular-ui/unique.js"></script>
<script type="text/javascript" src="components/ng-grid/ng-grid.min.js"></script>
<script type="text/javascript" src="components/ui-bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script type="text/javascript" src="components/moment/moment.min.js"></script>
<script type="text/javascript" src="components/moment/moment-timezone.min.js"></script>


<script type="text/javascript" src="components/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="components/fuse/fuse.js"></script>
<script type="text/javascript" src="components/autofill-directive/autofill-directive.js"></script>

<script type="text/javascript" src="js/app/app.js"></script>
<script type="text/javascript" src="js/app/directive.js"></script>
<script type="text/javascript" src="js/app/filtres.js"></script>
<script type="text/javascript" src="js/app/resources.js"></script>
<script type="text/javascript" src="js/app/controllers/navbar-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/login-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/subscribe-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/match-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/admin-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/admin-new-match-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/classement-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/ligues-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/index-controller.js"></script>
<script type="text/javascript" src="js/app/controllers/profil-controller.js"></script>
<script type="text/javascript" src="js/app/services/auth-service.js"></script>
<script type="text/javascript" src="js/app/services/bet-match-service.js"></script>
<script type="text/javascript" src="js/app/services/display-service.js"></script>
<script type="text/javascript" src="js/app/services/gambler-service.js"></script>
<script type="text/javascript" src="js/app/services/joiner-service.js"></script>
<script type="text/javascript" src="js/app/services/profil-service.js"></script>
<script type="text/javascript" src="js/app/services/session-service.js"></script>
<script type="text/javascript" src="js/app/services/team-service.js"></script>
<script type="text/javascript" src="js/app/services/user-service.js"></script>
<script type="text/javascript" src="js/app/services/ranking-service.js"></script>

</html>
